<%- include('partials/header') -%>


<div class="col-container">
    <div class="row">
        <!-- Cuisine -->
        <div class="col col-4 col-sm-4 col-img">
            <img src="/assets/image/cuisine.jpg" alt="Cuisines" class="img-option">
            <div class="centre-words-btn">
                <h1 class="col-word" style="color: white"><a href="http://localhost:4000/cuisine">Cuisine</a></h1>
            </div>
        </div>
        <!-- Diet -->
        <div class="col col-4 col-sm-4 col-img">
            <img src="/assets/image/cuisine.jpg" alt="Diet" class="img-option">
            <div class="centre-words-btn">
                <h1 class="col-word" style="color: white"><a href="http://localhost:4000/diet">Diet</a></h1>
            </div>
        </div>
        <!-- Type -->
        <div class="col col-4 col-sm-4 col-img">
            <img src="/assets/image/cuisine.jpg" alt="Type" class="img-option">
            <div class="centre-words-btn">
                <h1 class="col-word" style="color: white"><a href="http://localhost:4000/type">Type</a></h1>
            </div>
        </div>
    </div>
</div>







<%- include('partials/footer') -%>