<%- include('partials/header') -%>

<div id="tip">
  <p>
    If you register you can enjoy advanced features such as saving unlimited recipes and searching for
    different nutritional information!
  </p>
</div>

<div id="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <h2 class="recipe-header">Boozy BBQ Chicken</h2>
    </div>
    <div class="row d-flex">
      <div class="col-sm-4 stamps">
        <div class="stamp-d">
          <p class="stamp-p">Vegetarian</p>
          <div class="stamp-i vegetarian">
             <img src="/assets/image/vegetarian.png" class="stamp-img "/>
          </div>
        </div>
        <div class="stamp-d">
          <p class="stamp-p">Vegan</p>
          <div class="stamp-i vegan">
            <img src="/assets/image/vegan.png" class="stamp-img"/>
          </div>
        </div>
        <div class="stamp-d">
            <p class="stamp-p">Gluten Free</p>
            <div class="stamp-i glutenFree">
                <img src="/assets/image/gluten.png" class="stamp-img"/>
            </div>
          </div>
          <div class="stamp-d">
            <p class="stamp-p">Dairy Free</p>
            <div class="stamp-i dairyFree">
                <img src="/assets/image/dairy.png" class="stamp-img"/>
            </div>
          </div>
      </div>
      <div class="col-sm-4 recipe-header-div">
        <img src="/assets/image/hero.jpg" class="recipe-img" />
      </div>
      <div class="col-sm-2 stamps-right">
        <div class="stamp-d">
            <div class="stamp-i veryHealthy">
                <img src="/assets/image/heart.png" class="stamp-img"/>
             </div>
          <p class="stamp-p">Very Healthy</p>
        </div>
        <div class="stamp-d">
            <div class="stamp-i cheap">
                <img src="/assets/image/cheap.png" class="stamp-img"/>
              </div>
          <p class="stamp-p">Cheap</p>
        </div>
        <div class=" stamp-d">
            <div class="stamp-i veryPopular">
                <img src="/assets/image/like.png" class="stamp-img"/>
            </div>
            <p class="stamp-p">Very Popular</p>
          </div>
          <div class="stamp-d">
            <div class="stamp-i sustainable">
                <img src="/assets/image/sustainable.png" class="stamp-img"/>
            </div>
            <p class="stamp-p">Sustainable</p>
          </div>
      </div>
        <div class="col-sm-2 user">
            <img class="userPic" src="/assets/image/person1.jpg">
            <p class="username">
                Made by Spoonacular API
            </p>
        <div class="liked">
            <img src="/assets/image/like.png" class="likedPic">
            <p class="liked-p">
              3 people liked this recipe
            </p>
        </div>
      </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 ">

        </div>
        <div class="col-sm-6">

        </div>

      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
