<%- include('partials/header') -%>



<form action="/type" method="post">
    <label for="typeName">Choose your type</label>
    <input type="text" name="typeName" id="typeName">
    <input type="submit" value="Submit">
</form>



<%- include('partials/footer') -%>