<%- include('partials/header') -%>



<form action="/cuisine" method="post">
    <label for="cuisineName">Choose your cuisine</label>
    <input type="text" name="cuisineName" id="cuisineName">
    <input type="submit" value="Submit">
</form>



<%- include('partials/footer') -%>