<%- include('partials/header') -%>



<form action="/diet" method="post">
    <label for="dietName">Choose your diet</label>
    <input type="text" name="dietName" id="dietName">
    <input type="submit" value="Submit">
</form>



<%- include('partials/footer') -%>