.leftLi {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: none;
}

#content {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  margin: 0 auto;
}

#leftBar {
  /* width: 200px; */
  /* height: 1000px; */
  /* border: 1px solid black; */
}

#rightBar {
  width: 85%;
  /* border: 1px solid black; */
}

#leftTop {
  /* height: 50%; */
  /* border: 1px solid black; */
  /* margin: 20px; */
  padding: 40px 20px;
}

#leftTop h1 {
  border-bottom: 1px solid rgb(231, 230, 230);
}

.leftTop_child_head {
  position: relative;
}

.hide-arrow {
  position: absolute;
  right: 0;
}

.leftTop_child_child li {
  margin: 10px 0;
  padding-left: 20px;
}

#leftBottom {
  /* height: 50%; */
  /* border: 1px solid black; */
  /* margin: 20px; */
  padding: 20px;
}

#rightContent {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  /* border: 1px solid black; */
  padding: 20px;
}

#rightContentHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#rightContentContent {
  width: 100%;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: auto auto auto;
}

.slideContainer {
  display: flex;
}

.slideContainer p {
  margin: 0;
  padding: 50px 10px;
  /* text-align: center; */
  /* vertical-align: middle; */
}

.rightContentEach {
  /* border: 1px solid black; */
  width: 260px;
  height: 300px;
}

.rightContentEach img {
  width: 220px;
  height: 220px;
  /* padding: 20px; */
}

.rightContentEachTitle {
  /* padding-left: 20px; */
}

#tip {
  background-color: #e7eaea;
  padding: 20px;
}

#tip p {
  text-align: center;
  margin: 0;
}

.filterDivHead {
  position: relative;
}

#leftTop h1,
#leftBottom h1,
#rightContentHead h1 {
  font-size: 40px;
}

#content {
  width: 100%;
  margin: 0 auto;
}

/* cos bootstrap doesn't have the containers up to the edges */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}
.row {
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}
.recipe-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.recipe-img {
  border-radius: 8px;
  width: 370px;
  height: 300px;
}

.recipeDetails {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.recipeDetails-d {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.stamps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.stamps-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stamp-p {
  display: inline-block;
  margin: auto;
}

.stamp-i {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.vegetarian {
  background-color: green;
}
.vegan {
  background-color: greenyellow;
}
.glutenFree {
  background-color: orange;
}
.dairyFree {
  background-color: gray;
}
.veryHealthy {
  background-color: pink;
}
.cheap {
  background-color: yellow;
}
.veryPopular {
  background-color: lightblue;
}
.sustainable {
  background-color: gold;
}

.stamp-img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.user {
  text-align: center;
}
.userPic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.liked {
  display: flex;
  padding-top: 10px;
}
.likedPic {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.liked-p {
  font-size: 0.95rem;
  padding-left: 5px;
}

.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 100%;
}
.bubble {
  background: grey;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: grey;
  top: -1px;
  left: 50%;
}
