li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#content {
  width: 100%;
  border: 1px solid black;
  display: flex;
  margin: 0 auto;
}

#leftBar {
  /* width: 200px; */
  /* height: 1000px; */
  border: 1px solid black;
  position: absolute;
}

#rightBar {
  width: 100%;
  border: 1px solid black;
}

#leftTop {
  /* height: 50%; */
  border: 1px solid black;
  /* margin: 20px; */
  padding: 20px;
}

#leftTop h1 {
  border-bottom: 1px solid rgb(231, 230, 230);
}

.leftTop_child_head {
  position: relative;
}

.hide {
  position: absolute;
  right: 0;
}

.leftTop_child_child li {
  margin: 10px 0;
  padding-left: 20px;
}

#leftBottom {
  /* height: 50%; */
  border: 1px solid black;
  /* margin: 20px; */
  padding: 20px;
}

#rightContent {

  margin: 0 auto;
  border: 1px solid black;
  /* padding: 20px; */
}

#rightContentContent {
  width: 80%;
  border: 1px solid black;
  display: grid;
  margin: 0 20%;
  grid-template-columns: auto auto auto;
}

.rightContentEach {
  border: 1px solid black;
  width: 260px;
  height: 300px;
}

.rightContentEach img {
  width: 220px;
  height: 220px;
  padding: 20px;
}

.rightContentEachTitle {
  padding-left: 20px;
}
