body {
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 5rem;
}
/* navbar */
nav {
    background-color: #bedbbb;
}
a{
    color: black;
}
a:hover{
    color: black;
}
#sign-in {
    background-color: #86c27f;
    border-radius: 25px;
    border: #384f34 solid 1.5px;
}
/* web banner with hero image */
.hero-container {
    width: 100%;
    position: relative;
    text-align: center;
}
#hero-img { 
    /* photo width: 1425px for reference only */
    width: 100%;
    /* height: 100%; */
}
#hero-wordbox {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-words {
    color: #fff;
}
/* gif */
.gif-container {
    background-image: url('https://media.giphy.com/media/1dNe9QCPtQUTXwb8Zc/giphy.gif');
    /* https://media.giphy.com/media/xUPGcjaoWW2tLOAvWo/giphy.gif */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    width: 100%;
    height: 50vh;
    position: relative;
}
#description {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    padding: 0 10vw;
    z-index: 1;
}
/* 3 categories */
.categories {
    width: 100%;
}
.categories-options {
    text-align: center;
}
.queryTag {
    cursor: pointer;
}
#headingOne {
    background-image: url('/assets/image/index-cuisine.jpg');
}
#headingTwo {
    background-image: url('/assets/image/index-diet.jpg');
}
#headingThree {
    background-image: url('/assets/image/index-meal.jpg');
}
.cat-words {
    font-size: 4rem;
    color: #fff;
}
.cat-words:focus {
    box-shadow: none !important;
}
/* footer */
.footer-container {
    width: 100%;
    background-color: #008080;
    /* position: absolute;
    top: 3500px; */

}
.col-right {
    height: 100%;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.footer-container .row {
    margin: 0 0 1rem 0;
    padding-top: 1rem;
}
#bottom-row {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

@media only screen and (min-width: 1300px) {
    /* slogans on macbook air full screen */
    #first-line {
        margin-right: 26rem;
    }
    #second-line {
        margin-left: 26rem;
    }
    #third-line {
        margin-top: 1rem;
    }
    #sign-up {
        padding-top: 11px;
    }
}