body {
    background-image: url('/assets/image/profile-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.window {
    width: 100%;
}

.profile-bg {
    width: 80vw;
    min-height: 45rem;
    margin: 6rem 0 5rem 12.5rem;
    background-color: #fff;
    opacity: 75%;
    padding: 2rem 0 3rem;
}
.whole-profile {
    margin: 2rem 0 0 2rem;
}
.pro-recipe-title {
    text-align: center;
    margin-top: 0;
}
.profile-left {
    border: #000 2px solid;
    /* border-radius: 10px; */
    padding: 2rem;
}
.profile-right {
    width: 100%;
    background-color: #fff;
}
.added-recipe-photo {
    width: 5rem;
    height: 5rem;
}
.explore {
    text-align: center;
}
.explore-link {
    text-decoration: underline;
    cursor: pointer;
}
.my-recipe {
    display: flex;
    justify-content: center;
}

/* for profileSuccess */
#tip {
    width: 100%;
    height: 5vh;
    text-align: center;
    background-color: #f5f3f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}
#tip>p {
    font-size: 2rem;
    margin-bottom: 0;
}