body {
    background-image: url('/assets/image/signInUp-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.row {
    margin: 0 0;
}
/* signIn */
.sign-in-container, .sign-up-container{
    border: #000 1px solid;
    background-color: #cccccc;
    opacity: 80%;
    padding: 8vh;
    margin-top: 8vh;
}
#sign-in-box {
    margin-top: 4rem;
}
#sign-in-title {
    text-align: center;
    font-size: 8rem;
    margin-bottom: 3rem;
}
#small-title {
    text-align: center;
}
#form {
    text-align: center;
}
.textarea {
    width: 26vw;
    height: 6vh;
}
input[type=submit] {
    background-color: #86c27f;
    border-radius: 25px;
    border: #384f34 solid 1.5px;
    padding: 10px 25px;
}
#no-account-box {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}
#sign-up-link {
    margin-left: 1rem;
}
#sign-up-link-word {
    text-decoration: underline;
}
/* signUp */
.big-div {
    width: 100vw;
    height: 90vh;
    position: relative;
}
.sign-up-container {
    width: 40vw;
    height: fit-content;
    padding: 2vh 1vh;
    margin-top: 5vh;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sign-up-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#member {
    font-size: 4rem;
}
#member-intro {
    list-style-type: circle;
}
#sign-up-form {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textarea-sign-up {
    width: 25vw;
}
.labels {
    width: 25vw;
    margin-bottom: 0.3rem;
    text-align: left;
}
.select-div {
    width: 100%;
}
.select {
    width: 10vw;
    text-align: left;
}
#sign-up-form-btn {
    margin: 2rem 0 2rem;
}
/* error for sign-in failure */
.error-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 19rem 0 19rem 0;
}

.error-title {
    font-size: 6rem;
}
.error-link {
    font-size: 4rem;
}

#error-div-up {
    margin: 11rem 0 13rem 0;
}

#error-up-second-line {
    margin-top: 0;
}